<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>咨询医生</title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="form-group">
                <label for="email" class="col-xs-3 control-label">服务：</label>
                <span>

                </span>

            </div>
            <div class="form-group">
                <label for="email" class="col-xs-3 control-label">价格：</label>
                <input type="text" class="form-control" v-model="user.userName" id="userName" placeholder="请输入金额" />

            </div>

            <div class="form-group">
                <label for="email" class="col-xs-3 control-label">时间：</label>
                <input type="text" class="form-control" v-model="user.userName" id="userName" placeholder="请输入金额" />

            </div>

            <div class="form-group">
                <label for="email" class="col-xs-3 control-label">地址：</label>
                <input type="text" class="form-control" v-model="user.userName" id="userName" placeholder="请输入金额" />

            </div>

            <div class="form-group">
                <label for="email" class="col-xs-3 control-label">联系方式：</label>
                <input type="text" class="form-control" v-model="user.userName" id="userName" placeholder="请输入手机号" />

            </div>
            <div class="form-group">
                <label for="email" class="col-xs-3 control-label">实付金额：</label>
                <input type="text" class="form-control" v-model="user.userName" id="userName" />
                <button @click="createdoctor" type="submit" class="btn btn-default">
                    微信支付
                </button>
            </div>

        </div>
    </div>
    <script src="../js/vue.js"></script>
    <script src="../js/zepto.js"></script>
    <script src="../js/ajax-helper.js"></script>
    <script>
        Vue.component('simple-grid', {
            template: '#grid-template',
            props: ['dataList', 'columns']
        })
        Vue.component('modal-dialog', {
            template: '#dialog-template',
            props: ['show'],
            methods: {
                close: function () {
                    this.show = false
                }
            }
        })
    </script>
    <script>
        var ajaxHelper = new AjaxHelper()
        var demo = new Vue({
            el: '#app',
            data: {
                show: false,
                gridColumns: [{
                    name: 'DeptId',
                    isKey: true
                }, {
                    name: 'DeptName'
                }, {
                    name: 'Remark'
                }],
                gridData: [],
                apiUrl: 'http://localhost:2836/api/Dept',
                item: {}
            },
            ready: function () {
                this.getDepts()
            },
            methods: {
                closeDialog: function () {
                    this.show = false
                },
                getDepts: function () {
                    // 定义vm变量，让它指向this,this是当前的Vue实例
                    var vm = this,
                        callback = function (data) {
                            // 由于函数的作用域，这里不能用this
                            vm.$set('gridData', data)
                        }
                    ajaxHelper.get(vm.apiUrl, null, callback)
                },
                createDept: function () {
                    var vm = this,
                        callback = function (data) {
                            vm.$set('item', {})
                            // 添加成功后，重新加载页面数据
                            vm.getDepts()
                        }
                    // 将vm.item直接POST到服务端
                    ajaxHelper.post(vm.apiUrl, vm.item, callback)
                    this.show = false
                }
            }
        })
    </script>
</body>

</html>